html {
  font-size: 18px;
  font-family: helvetica;
}

.container {
  background-image: url("https://github.com/doctorduudu/newconceptsint/blob/master/resources/files/backgroundl.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 36.7rem;
  opacity: 1;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: relative;
  height: 7rem;
  background-color: rgba(0, 0, 255, 0.8);
}


header img {
  display: flex;
  float: left;
  height: 7rem;
  width: 20%;
  padding: none;
  opacity: 1;
}

nav ul {
  display:flex;
  float: right;
  position: absolute;
  top: 2.0rem;
  right: 3%;
}
nav ul li {
  display: inline-flex;
  margin: 0.8rem 0.8rem;
  font-size: 1.5rem;
  font-family: helvetica;
  color: white;
}
nav ul li:hover {
  font-size: 1.7rem;
  transition-duration: 0.4s;
}

.container {
  text-align: center;
  position: relative;
}
.container ul {
  position: absolute;
  top: 25%;
  left: 32%;
  color: blue;

}
.container li {
    font-size: 2rem;
    font-family: cursive;
}
ul .change {
  font-size: 7rem;
}

.socialmedia {
  position: absolute;
  top: 32rem;
  left: 40%;
}
.fa {
    padding: 10px;
    margin: 10px 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    font-size: 25px;
    transition-duration: 0.4s;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-envelope {
    background: blue;
    color: white;
}
